.logocontainer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 25px;
  }
  
  .logocontainer img {
    width: 50px; /* Adjust the width according to your design */
    height: auto;
    margin-right: 10px; /* Adjust the spacing between the image and the text */
  }
  .logocontainer div {
    font-size: 24px; /* Adjust the font size according to your design */
    font-weight: bold; /* Make the text bold */
    color: white; /* Set the text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add a more pronounced text shadow */
  }